body {
    margin:40px;
}

.btn-jumbo {
    margin-bottom: 20px;
    font-size: 60px;
    line-height: 80px;
    width: 100%;
}

textarea {
    display: block;
    width: 300px;
}
.fugly-margin-fix {
    margin-top:-8px;
}
