logs
project/project
project/target
target
tmp
.history
dist
api/_ReSharper.api
api/Remindr.Web/obj
api/Remindr.Model/obj
api/Remindr.Web/bin
api/Remindr.Model/obj
api/Remindr.Test/obj
api/Remindr.Twilio/obj
api/Remindr.Model/bin
api/Remindr.Twilio/bin
api/Remindr.Test/bin
api/api.5.1.ReSharper.user
api/api.suo
# OSX flob
.DS_Store

# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies
.cache

# idea conf files
.idea
*.iml
*.ipr
*.iws
