@main("Reminder") {

    <div class="hero-unit">
        <div>
            <a href="@routes.Appointments.index" class="btn btn-jumbo">Appointment Reminder</a>
        </div>
        <div>
            <a href="@routes.Medications.index" class="btn btn-jumbo">Medication Reminder</a>
        </div>
        <div>
            <a href="@routes.Prescriptions.index" class="btn btn-jumbo">Repeat Prescription Reminder</a>
        </div>
        <div>
            <a href="@routes.History.index" class="btn btn-inverse btn-jumbo">View History</a>
        </div>
    </div>
}