@main("Appointments") {
<link rel="stylesheet" media="screen" href="@routes.Assets.at(" stylesheets/datepicker.css")">

<script type='text/javascript' src='@routes.Assets.at("javascripts/bootstrap-datepicker.js")'></script>
<script type="text/javascript">
    //init DatePicker
    $(function(){
        $('#reminderDate').datepicker()
    });
</script>
<h1>Appointments</h1>
<br>
@helper.form(action = routes.Appointments.reminder, 'style -> "margin-bottom:0px;", 'class -> "well"){
    <label>Mobile Number</label>

    <input type="text" class="span3" placeholder="" name="mobile">
    <label>Appointment date</label>
    <div class="input-append date" id="reminderDate" data-date="01-05-2012" data-date-format="dd-mm-yyyy">
        <input class="span2" size="16" id="appointmentDatePicker" name="reminderDate" type="text" value=""/><span class="add-on fugly-margin-fix"><i class="icon-th"></i></span>
    </div>

    <div class="control-group">
        <label class="control-label" for="inlineCheckboxes">Notification Options</label>
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" name="oneWeekNotification" value="true" checked="true">1 week in advance
            </label>
            <label class="checkbox">
                <input type="checkbox" name="oneDayNotification" value="true" checked="true">1 week in advance
            </label>
            <br>
            <label class="control-label" >Reminder Message (Max 160 Chars)</label>
            <div class="controls">
                <textarea class="input-xlarge" name="message" rows="4">{Title} {First Name}, you have an apppointment booked with {location} on {appointment date} at {appointment time} with {healthcare professional} - Contact local Hospital Trust on {contact number} for info</textarea>
            </div>
        </div>
    </div>
    <input type="submit" class="btn" value="Submit"/>
}

}


