@(history: model.Reminder)

@main("Reminder") {
    <div class="hero-unit">
      <h1>@history.kind</h1>
      <h2>@history.number</h2>
      <h2>@history.user</h2>
      <h2>@history.date</h2>
        @helper.form(action = routes.History.cancel(history.id), 'style -> "margin-bottom:0px;", 'class -> "cancel-form"){
            <a href="@routes.History.index" class="btn btn-large btn-primary">Back</a>
            <input type="submit" class="btn btn-large btn-danger" value="Cancel @history.kind"/>
        }
    </div>
    <script type="text/javascript">
        $(".cancel-form").submit(function(e){
            if(!confirm("Are you sure?")){
                return false;
            }
        });
    </script>
}