<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  	<!-- Twilio account specific settings -->
    <add key="TwilioFromNumber" value="+44123123123" />
    <add key="TwilioAccountSid" value="TWILIO ACCOUNT SECRET ID" />
    <add key="TwilioAuthToken" value="TWILIO ACCOUNT AUTH TOKEN" />
  </appSettings>
</configuration>