<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MONGOHQ_URL" value="mongo://MONGO_PATH_AND_CREDENTIALS" />    
  </appSettings>
  <connectionStrings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <httpHandlers>
      <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="api.RemindrServiceAspNetAjaxBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <services>
      <service name="api.RemindrService">
        <endpoint address="" behaviorConfiguration="api.RemindrServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="api.RemindrService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>
