@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <link rel='stylesheet' media='screen' href='@routes.Assets.at("stylesheets/bootstrap.min.css")'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

        <script type='text/javascript' src='@routes.Assets.at("javascripts/jquery.min.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/bootstrap.min.js")'></script>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">

                <ul class="nav pull-right">
                    <li><a>Logged in as Dr Foster, Local Hospital Trust</a></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="container" style="margin-top:75px;">
            @content
        </div>
    </body>
</html>
